@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,200;0,500;1,100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');


:root{
    --font-primaria: "Playfair Display",serif;
    --font-secundaria: "Poppins",serif;
}


*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-position: center;
    background-size:auto;
}

body{
    background-color: #303030
}

/* inicio estilo header */
header{
    width: 100vw;
    height: 25vh;
    
}

/*Inicio Estilo Menu*/
.menu{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;

}

/*inicio logo*/
.logo{
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
    transition: opacity 2s,transform 3s;
}
.logo:hover{
    opacity: 50%;
    transform: scale(1.1);
}
/*Fim logo*/


/*Inicio menu inicial e opções*/

.menu-inicial{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 500px;
    width: 35%;
}

.opcoes-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.opcoes{
    margin: 1rem;
   
}

.texto-menu:hover{
    font-size: .8rem;
    color: #f1f1f1 ;
}

.texto-menu{
    font-family: var(--font-secundaria);
    font-size: .6rem;
    color: #d8d6d6;
    transition: all 1s;
}

/*Fim menu inicial e opções*/

/*Inicio barra de pesquisa*/
.pesquisa{
    margin-right: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    
    min-width: 1rem;
    height: 15px;

    border-radius: 100px;

    padding: 5px 5px;
    background-color:#504f4f;
    color: #f1f1f1

}

.pesquisa > input {
     width: 0px;
     background-color:#504f4f;
     border: none;
     outline: none;
     color: #f1f1f1;
     transition: 2s 0.5s;
     
}

.pesquisa:hover >input{

    width: 65px;
    height: 15px;
    padding: 5px 5px;
    border-radius: 100px;
  

}

.pesquisa > label {
    cursor: pointer;
    font-size: 0.5rem;
    padding: 0.5;
}


/*Fim barra de pesquisa*/


/*Inicio botões de login*/
.login{ /*campo de login*/
    max-width: 200px;
    width: 15%;
    margin-left:5%;
    float: left;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content:space-around;

    font-family: var(--font-secundaria);
    white-space: nowrap;

    padding:1%;
}

.lg-up{ /*sign-in*/
    width: 5rem;
    height: 2rem;
    background-color: #ffcb2b;
    color: #131111;

    border-radius: 50px;
    border-style: none;
    cursor: pointer;


    padding-left: 2px;
}

#label-btn{ /*sign-up*/
    color: #d8d6d6;
    padding: 2px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 300;

}


/*fim botões de login*/

/*Fim estilo Menu*/
/*Fim estilo header*/




/*inicio section conteudos*/

.conteudos{
    height: 60vh;
    width: 100%;
}


/*inicio slidshow*/

.exemplos-pratos{
    max-height: 600px;
    height: 100%;
    width: 40%;
    max-width:400px ;
 

    float: right;
    margin-right: 10px;
    opacity: 0.8;
}

#container-pratos{
    transition: 2s; 
    width: 100%;
    height: 100%;
   
    background-size: 90%;
    background-repeat: no-repeat;
}



/*inicio botões de transição*/
#btn-img{
    width: 100px;
    height: 20px;

    margin-top: 20px;
    float: right;

    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

#btn-img > li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:#191919;
    border-color: #131111;
    border:10px;

    transition: all 1s;
}

#btn-img>li:hover{
    width: 15px;
    height: 15px;
    background-color: #fe5244;

}



/*fim botões de transição*/
/*fim section conteudos*/
